.fill {
    background: rgba(255, 0, 0, 0);
    color: rgba(0,0,0,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
.btn-fill {
    background: rgba(255, 0, 0, 0.712);
    color: rgba(0,0,0,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;  
}
a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-family: 'Righteous', sans-serif;
     color: white; 
     font-size: 1.5rem; 
     font-weight: 500; 
     padding: 5%;
}
.options {
    max-height: 70%;
}
.titel{
    font-family: 'Righteous', sans-serif; 
    color: white; 
    font-size: 1.5rem; 
    font-weight: 700;
    margin: 5% 0% 5% 0%;
    text-transform: uppercase;

}
/* .options h5{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    
    font-size: 2.3rem;
    font-weight: 400;
    margin: 5% 0% 5% 0%;
  } */
  .content__container__list {
    margin-top: 17%;
  }
  .cardys {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 3%;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin-bottom: 1%;
  }
  .content {
    position: fixed;
    top: 94%;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
  
    color: #ecf0f1;
  }
.beers .banner-image{ 
    background-image: none ;

}
.upslope .banner-image {
    background-image: url(../img/upslope-citra-pale-ale-2903_0.jpg)
}
.juicybanger .banner-image {
    background-image: url(../img/juicybanger.jpg)
}
.apricotblonde .banner-image {
    background-image: url(../img/8f14954ebc957a41da31264251204577.png);
    background-position-y: 17%;
}
.shilling .banner-image {
    background-image: url(../img/90-Shilling-ProductCrops-e1588041326994.png);
    background-position-y: 17%;
}
.voodoo-draft .banner-image {
    background-image: url(../img/Voodoo-Ranger-IPA-Lifestyle-Image-6.jpg);
}
.voodoo-can .banner-image {
    background-image: url(../img/juiceforcce.jpg);

}
.bluemoon .banner-image{
    background-image: url(../img/blue-moon-drarft-e1651685485544.jpg)
}
.dale .banner-image {
    background-image: url(../img/dale.jpg);
}
.fat .banner-image{
    background-image: url(../img/fat.jpg);
}
.budweiser .banner-image {
    background-image: url(../img/budw.jpg)
}
.millerHL .banner-image {
    background-image: url(../img/millhl.jpg);
    background-position-y: 38%;
}
.banquet .banner-image {
    background-image: url(../img/Coors-Banquet-15PK-Logo.png);
    background-position-y: 17%;
}
.pbr .banner-image {
    background-image: url(../img/pbr.jpg);
    background-position-y: 45%;
}
.corona .banner-image {
    background-image: url(../img/corona.jpg);    
}
.modelo .banner-image{
    background-image: url(../img/modelo.jpg);
}
.michelob .banner-image{
    background-image: url(../img/michelob.jpg);
    background-position-y: 45%;
}
.millerlt .banner-image{
    background-image: url(../img/MILLERLT.JPG);
    background-position-y: 75%;
}
.stella .banner-image{
    background-image: url(../img/STELLA.JPG);
    background-position-y: 45%;
}
.pine .banner-image{
    background-image: url(../img/PINE.JPG);
    background-position-y: 58%;
}
.peach .banner-image{
    background-image: url(../img/PEACH.jpg);
    background-position-y: 60%;
}
.bc .banner-image{
    background-image: url(../img/BC.jpg);
    background-position-y: 86%;
}
.water .banner-image{
    background-image: url(../img/WATER.jpg);
    background-position-y: 55%;
}
.samadams .banner-image{
    background-image: url(../img/sam-adams-winter-lager.png)
}
.guiness .banner-image{
    background-image: url(../img/916jx-WscIL.jpg);
    background-position-y: 25%;
}
.stem .banner-image {
    background-image: url(../img/ci-stem-cider-off-dry-4d08d7deec433b92.jpg);

}
.angry .banner-image{
    background-image: url(../img/angry-orchard-imperial-cider.png);

}
.martini .banner-image{
    background-image: url(../img/martini.jpg);
    background-position-y: 25%;
}
.marg .banner-image{
    background-image: url(../img/marg.jpg);
    background-position-y: 35%;
}
.oldfsn .banner-image{
    background-image: url(../img/HW-Summer-2020-22.jpg);
    background-position-y: 52%;
}
.beers {padding: 0% 0%;}

p {
    text-transform: none;
}

.desc {
    font-weight: 300;
    font-size:x-small;
    text-align: justify;
    text-align-last: left;
}
.opts {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;  
    margin-bottom: 1%;
}
.sprt { 
    margin-bottom: 0;
    margin-top: 4%;
}
.sprtr a { 
    margin-bottom: 0;
    margin-top: 4%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1rem;
    background: rgb(77, 77, 77);
    border-radius: 5%;
    padding: 2%;
}
.sprtr {
    margin: 10% 0% 10% 0%;
}
.titels {
    font-weight: 500;
    font-family: 'Righteous', sans-serif; 
    color: white; 
    font-size: 1.5rem; 
    margin: 5% 0% 5% 0%;
    text-transform: uppercase;

}
.abv {
    font-weight:bold;
}
.note {
    text-align: left;
    margin-bottom: 4%;
    /* font-weight: 600; */
}