/* Apply the background image style to the body */
body {
   
    max-height: 100%;
    max-width: 100vw;
    /* background-image: url(../img/JGP.Williams+Construction.10-27-21.The+Spotted+James.Boulder+CO.06.png); */
    background-image: url(../img/JGP.Williams+Construction.10-27-21.The+Spotted+James.Boulder+CO.06.png);
    background-size: cover;
    background-position-x: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 15%;
}
/* a img{
    width: 100%;
} */
.vertical-center {
   /*  min-height: 100%; Fallback for browsers do not support vh unit 
     min-height: 100vh; /*These two lines are counted as one :-)       */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Make sure the container takes up full viewport height */
}
.options {
    flex: 1; /* This makes the section fill the available space */
    overflow-y: auto; /* Enables vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Improves scrolling on iOS devices */
}
.content {
    position: fixed;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
  
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 45px;
    padding: 0 20px;
  }
  .content__container:before {
    content: "[";
    left: 0;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin-top: 4%;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 165px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 45px;
    margin: 0;
  }
   /*  GOOGLE FONT
      All fonts vary.  Best to use fonts intended for production when styling things. */


  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  .game-night {
    width: 100%;
    position: fixed;
    
}

.slot-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    width: 75%;
    z-index: 10;
    /* margin: 10%; */
    margin-top: 80%;
    align-content: center;
    align-items: center;
    padding: 5%;
    /* padding-left: 0%; */
    margin-left: 5%;
}

.casinobox {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    
    /* background-color: rgb(255, 255, 255); */
    color: black;
    /* font-size: 20px; */
    font-weight: bold;
    /* border: 2px solid black; */
    text-align: center;
    text-transform: uppercase;
}

.slot-image img {
    position: fixed;
    top: 35%;
    width: 100%;
    z-index: 2;
    padding: 5%;
    
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* body {
  /* solid background 
  background: rgb(0,212,255);
  
  /* gradient background
  background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
  
  /* photo background 
  background-image: url(https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80);
  background-size: cover;
  background-position: center;  
  
  display: flex;
  align-items: center;
  justify-content: center;    
  height: 100vh;  
} */

.cardys {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 1%;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.options {
    display: flex;
    flex-direction: column; /* Adjust this based on your layout preference */
    max-height: 70%; /* Set the height to fill the screen */
    justify-content: space-between; /* Distribute space evenly 
    padding: 20px;  Adjust based on your design */
    box-sizing: border-box; /* Include padding in the height calculation */
    flex-grow: 1; /* Take up all available space */
    overflow-y: auto; /* Add scroll to this container */
}
/* @media (min-width: 200px) and (max-width: 768px) {
    /* .options {
        flex-direction: column;
        justify-content: start;
        height: auto; /* Allow the container to grow as needed on smaller screens 
    }
    .options > div {
        margin-bottom: 20px; /* Add some space between items 
    }
    .banner-image {
        /* /photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80); 
         background-position: center;
         background-size: cover;
         height: 100px;
         width: 100%;
         border-radius: 4%;
         border: 1px solid rgba(255,255,255, 0.255)
       } *
} */
.banner-image {
 /* /photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80); */
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  border-radius: 4%;
  border: 1px solid rgba(255,255,255, 0.255)
}
.cocktails .banner-image {
    background-image: url(../img/cocktails.jpg)
}
.beers .banner-image {
    background-image: url(../img/craft_beer_taps.png)
}
.spirits .banner-image {
    background-image: url(../img/whiskey.jpg)
}
.na .banner-image {
    background-image: url(../img/berry-smash-720x720-primary-fcb963f369a8430993d873f8e35f9708.jpg)
}
.beerrs .banner-image{
    background-image: url(../img/craft_beer_taps.png)
}
.cocktails { padding: 5% 0%;}
.beers {padding: 5% 0%;}
.spirits{padding: 5% 0%;}
.na {padding: 5% 0%;}
h5{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}
/* .options {
    flex-grow: 1; /* Take up all available space 
    overflow-y: auto; /* Add scroll to this container 
} */
p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
}

.button-wrapper{
  margin-top: 1%;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px; 

  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}
a {
    text-decoration: none; 
    color: white;
}
.outline {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(255, 0, 0, 0.9);
  color: rgba(0,0,0,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
/* Global page animation styles */

/* Global page animation styles */

/* Slide in from the right */
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Slide out to the right */
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .fade-out-to-right {
    animation: slideOutRight 0.5s ease-out forwards;
  }
  /* Slide in from the right */
@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
 
  
  /* Slide out to the left */
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .fade-out-to-left {
    animation: slideOutLeft 0.5s ease-out forwards;
  }
  @media (max-width: 300px) { 
    .casinobox {
        height: 75px;
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 255, 255); */
        color: black;
        /* font-size: 20px; */
        font-weight: bold;
        /* border: 2px solid black; */
        text-align: center;
        text-transform: uppercase;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .slot-main {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 100%;
        z-index: 10;
        /* margin: 10%; */
        margin-top: 60%;
        padding: 24%;
        /* padding-left: 0%; */
        margin-left: -8%;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .slot-image img {
        position: fixed;
        top: 35%;
        width: 100%;
        z-index: 2;
        padding: 15%; 
    }
    #box2, #box3 {
        font-size: 1rem;
    }
    h4{
        top: 30%;
        font-size:  1.5rem;
    }
    #box1 {
        line-height: 10px;
        font-size: 0.65rem;
    }
    .content {
        scale: 75%;
        left: 35%;
    }
}
@media (min-width: 300px) and (max-width: 380px) { 
    .casinobox {
        height: 130px;
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 255, 255); */
        color: black;
        /* font-size: 20px; */
        font-weight: bold;
        /* border: 2px solid black; */
        text-align: center;
        text-transform: uppercase;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .slot-main {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 100%;
        z-index: 10;
        /* margin: 10%; */
        margin-top: 40%;
        padding: 20%;
        /* padding-left: 0%; */
        margin-left: -6.5%;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .slot-image img {
        position: fixed;
        top: 35%;
        width: 100%;
        z-index: 2;
        padding: 10%; 
    }
    #box2, #box3 {
        font-size: 1.6rem;
    }
    h4{
        top: 25%;
        font-size:  2.5rem;
    }
    #box1 {
        line-height: 15px;
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 380px) and (max-width: 455px){
    #box1 {
        font-size: 1.2rem;
        line-height: 20px;
    }
    #box2, #box3 {
        font-size: 1.75rem;
    }
    .casinobox{
        height: 150px;
    }
    .casinobox {
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 255, 255); */
        color: black;
        /* font-size: 20px; */
        font-weight: bold;
        /* border: 2px solid black; */
        text-align: center;
        text-transform: uppercase;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .slot-main{
        margin-top: 65%;
        justify-content: center;
        padding: 8%;
        margin-left:6%;
    }
    h4{
        top: 25%;
        font-size:  2.75rem;
    }
    .content {
        position: fixed;
        top: 90%;
        left: 60%;
        transform: translate(-50%, -50%);
        scale: 125%;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        color: #ecf0f1;
    }
    .content__container {
        padding: 0 15px;
    }
    .slot-image img {
        padding: 10%;
    }
    .images a img {
        padding: 5%;
    }
}
@media (min-width: 456px) and (max-width: 574px){
    #box1 {
        font-size: 1.2rem;
        line-height: 20px;
    }
    #box2, #box3 {
        font-size: 1.75rem;
    }
    .casinobox{
        height: 130px;
    }
    .casinobox {
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 255, 255); */
        color: black;
        /* font-size: 20px; */
        font-weight: bold;
        /* border: 2px solid black; */
        text-align: center;
        text-transform: uppercase;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .slot-main {
        margin-top: 21%;
        justify-content: center;
        padding: 15%;
        margin-left: 7.5%;
    }
    h4{
        top: 30%;
        margin-left: 7.5%;
        font-size:  2rem;
    }
    .content {
        position: fixed;
        top: 90%;
        left: 55%;
        transform: translate(-50%, -50%);
        scale: 125%;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        color: #ecf0f1;
    }
    .content__container {
        padding: 0 15px;
    }
    .slot-image img {
        padding: 20%;
        top: 25%;
    }
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 575px) and (max-width: 767px){
    /* #box2, #box3 {
        font-size: 1.75rem;
    } */
    h4{
        font-size: 2.5rem;
        top: 30%;
    }
    .slot-image img {
        position: fixed;
        top: 30%;
        width: 100%;
        z-index: 2;
        padding: 15%;
    }
    .slot-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: fixed;
        width: 75%;
        z-index: 10;
        /* margin: 10%; */
        margin-top: 45%;
        align-content: center;
        align-items: center;
        padding: 12.5%;
        /* padding-left: 0%; */
        margin-left: 7.5%;
        font-size: 1.75rem;
    }
    .casinobox{
        font-size: 1.75rem;
        /* height: 100px; */
    }
    .content {
        position: fixed;
        top: 90%;
        left: 65%;
        transform: translate(-50%, -50%);
        scale: 175%;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        color: #ecf0f1;
    }
    .content__container__list {

        text-align: center;
    }
    /* .content__container__text {
        display: inline;
        float: left;
        margin-left: -25%;
    }
    .content__container {
        font-weight: 600;
        overflow: hidden;
        height: 50px;
        padding: 0px 100px;
    }
    .content__container__list__item {
        line-height: 150%;
        margin-left: 5%;
        text-align: center;
    } */
  }
  .images a img {
    padding: 5%;
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 767px) and (max-width: 991px){
    h4{
        width: 75%;
        margin-left: 12.5%;
        font-size: 4rem;
    }
    
    .slot-image img {
        position: fixed;
        top: 25%;
        width: 100%;
        z-index: 2;
        padding: 25%;
    }
    .content {
        position: fixed;
        top: 90%;
        left: 65%;
        transform: translate(-50%, -50%);
        scale: 175%;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        color: #ecf0f1;
    }
    .slot-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: fixed;
        width: 75%;
        z-index: 10;
        /* margin: 10%; */
        margin-top: 20.8%;
        align-content: center;
        align-items: center;
        padding: 19%;
        /* padding-left: 0%; */
        margin-left: 8.75%;
    }
    #box1 {
        font-size: 1.5rem;
        line-height: 25px;
    }
    #box2, #box3 {
        font-size: 2rem;
    }
    .casinobox{
        height: 160px;
    }
    .casinobox {
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 255, 255); */
        color: black;
        /* font-size: 20px; */
        font-weight: bold;
        /* border: 2px solid black; */
        text-align: center;
        text-transform: uppercase;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .images a img {
        padding: 25%;
        margin-top: -5%;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }

 